{% extends "base.html" %}
{% block title %}Address book{% endblock %}

{% block content %}
<h1 align="center">Address book</h1>
</br >
<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
    <div class="d-grid gap-2 d-md-block">
        <a class="btn btn-primary" id="address_add" href="/addresses/add" role="button">Add</a>
        <a class="btn btn-primary" id="addresses_parse" href="/addresses/parse" role="button">Import</a>
    </div>
    <div class="form-group">
        Filter:
        <a class="btn btn-primary {{ disabled_all }}" id="addressess_all" href="/addresses/" role="button">All</a>
        <a class="btn btn-primary {{ disabled_low }}" id="addresses_low" href="/addresses/filter/?value=low" role="button">Low</a>
        <a class="btn btn-primary {{ disabled_medium }}" id="addresses_medium" href="/addresses/filter/?value=medium" role="button">Medium</a>
        <a class="btn btn-primary {{ disabled_high }}" id="addresses_high" href="/addresses/filter/?value=high" role="button">High</a>
    </div>
</div>
</br >
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Postal code</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        {% for row, addr in addresses %}
            <tr>
                <th scope="row">{{ row + 1 }}</th>
                <td>{{ addr.name }}</td>
                <td>{{ addr.address }}</td>
                <td>{{ addr.city }}</td>
                <td>{{ addr.state }}</td>
                <td>{{ addr.postal_code }}</td>
                <td>{{ addr.value.value }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}